﻿body{
	background-color: #F3F3F3;
	margin: 0px 0px 0px 0px;
    font-size:12px;
    font-family:Verdana;
}
h1{
	font-family:Tahoma,'Lucida Sans', Arial, Verdana;
	font-size:24px;
	color:Navy;
	font-weight:bold;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
h2{
    font-family: Tahoma, 'Lucida Sans' , Arial, Verdana;
    color: #1c1c1c;
    margin-bottom: 0px;
    font-size: 16px;
}
h3
{
	font-family:Tahoma,'Lucida Sans', Arial, Verdana;
    color: #1c1c1c;
	margin-bottom:0px;
	font-size:14px;
}
a{
	text-decoration:underline;
	color:#00458B;
}
a:visited{
	color:#00458B;   
}
a:hover{    
	color:red; 
}
#menu
{
    margin-top:0px;
    padding-top:0px;
}
#menu li{
	float:left;
	list-style-type:none;
}
#menu a{
	text-decoration:none;
	color:#00127A;
	font-size:14px;
	font-weight:bold;
	display:block;
}
#menu a:hover{
	text-decoration:underline;
	color:#0000FF;
}
#menu img {
    border:0;
}
#menu div
{
    position: absolute;
    visibility: hidden;
    background: #282F42;
    border: 1px solid #282F42; 
    text-transform:none; 
    z-index:30; 
    line-height:12px
}	
#menu div a
{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #282F42;
    color: #fafafa;
    font-size:12px;
}
#menu div a:hover
{
    background: #282F42;
    color: #FFF
}

.inputs{
	width:250px;
}
.inputTiny{
	width:50px;
	text-align:center;
}
.inputsShort{
	width:150px;
}
.inputsShort2{
	width:75px;
}

.divMessage{
	color:Red;
	font-weight:bold;
	text-align:center;
}
.divBody{
	text-align:left;
	padding-left:35px;
	padding-right:30px;
}
.divBodyCentered{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}
.divEarnings{
	float:right;
	padding-right:70px;
}
.dataTable{
	border: 1px solid #000;
	border-collapse: collapse;
	width: 100%;
}
.headerRow{
	font-weight:bold;
	height:24px;
	vertical-align:middle;
}
.normalRow{
	background-color: #DCDCDC;
	height:24px;
}
.normalRow:hover
{
    background-color: #ccff99;
}
.altRow{
	background-color: #F5F5F5;
	height:24px;
}
.altRow:hover{
    background-color: #ccff99;
}
.highlightRowColor{
	background-color: #FFFF99;
}
.highlightRow{
	background-color: #FFFF99;
	height:24px;
}
.highlightRow:hover{
    background-color: #ccff99;
}
.alertRowColor{
	background-color: #F9B7C4;
}
.alertRow{
	background-color: #F9B7C4;
	height:24px;
}
.alertRow:hover{
    background-color: #ccff99;
}
.inactiveRowColor
{
    background-color: #add8e6;
}
.inactiveRow
{
    background-color: #add8e6;
    height: 24px;
}
.inactiveRow:hover{
    background-color: #ccff99;
}
.currentRowColor{
    background-color: #ccff99;
}

.fdLabel{
	float:left;
	width:150px;
	padding-top:5px;
	color:Navy;
}
.fdLabelBlue{
	float:left;
	color:Navy;
}
.fdLabelLarge{
	float:left;
	width:250px;
	padding-top:5px;
	color:Navy;
}
.fdInputLarge{
    width:350px;
}

.csLabel{
	float:left;
	width:170px;
	padding-top:5px;
	color:Navy;
}
.csLabelShort{
	float:left;
	width:150px;
	padding-top:5px;
	padding-left:30px;
	color:Navy;
}
.csLabelBlue{
	float:left;
	color:Navy;
}
.csLabelShortBlue{
	float:left;
	width:280px;
	padding-left:30px;
	color:Navy;
}
.csText{
	float:left;
	width:260px;
}
.csTextBlue{
	float:left;
	width:260px;
	color:Navy;
}
.csTextBlueLine{
	float:left;
	width:590px;
	color:Navy;
}
.csInput{
	width:150px;
}
.csInputLarge{
	width:250px;
}
.csInputShort{
	width:90px;
}
.csInputTiny{
	width:75px;
}
.csInputMin{
	width:58px;
}
.csInputCamp{
	width:670px;
}
.csInputSteps{
	width:770px;
	font-family:Courier New;
	font-size:10pt;
}
.csInputStepPixel{
	width:610px;
	font-family:Courier New;
	font-size:10pt;
}
.csInputStepOffer {
    text-align:center;
    width:140px;
}

.etText3{
	float:left;
	width:160px;
	text-align:center;
}
.etText3 input{
    width:150px;
}
.etText32{
	float:left;
	width:30px;
	text-align:center;
}
.etText32 input{
	margin-top:5px;
}
.etText4{
	float:left;
	width:148px;
	text-align:center;
}
.etText4 input{
    width:140px;
}
.etText4s{
	float:left;
	width:100px;
	text-align:center;
}
.etText4s select{
	width:95px;
}
.etText42{
	float:left;
	width:30px;
	text-align:center;
}
.etText42 input{
	margin-top:5px;
}

.dsLabel{
	float:left;
	width:80px;
	padding-top:5px;
	color:Navy;
}
.dsLabel2{
	float:left;
	width:80px;
	padding-top:5px;
	padding-left:25px;
	color:Navy;
}
.dsText{
	float:left;
	width:120px;
	padding-top:5px;
	padding-left:30px;
	color:Navy;
}
.dsInside{
    float:right;
	width:120px;
	padding-left:30px;
	color:Navy;
}
.dsTextLong{
	float:left;
	width:520px;
	color:Navy;
}
.dsInputLong{
	width:520px;
}
.dsInputShort{
	width:60px;
	text-align:center;
}

.profitRed{
	color:Red;
}
.profitGreen{
	color:Green;
}
.divDeleteLarge{
	border: ridge 3px #696969;
	background-color: #ffffcc;
	width: 340px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	overflow: auto;
	position: absolute;
	left: -170px;
	top: 5px;
	padding:10px;
}
.leftFilter {
    float: left;
    width: 70px;
    text-align: right;
    padding-right:5px;
	padding-top:3px;
}
.rightFilter {
    float: left;
    width: 155px;
}
.controlFilter {
    width: 150px;
}
.nobr{
	white-space:nowrap;
}
.noborder{
    border:none;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
.fullwidth{
	width:100%;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.hidden{
	display:none;
}
.tooltipCampaignBox{
	padding:10px;
	background-color: #ffffaa;
    border: 3px ridge #696969;
	width: 200px;
	position:absolute;
	left:-150px;
}
.tooltipCampaignIcon{
    float:right;
    padding-right:50px;
    position:relative;
}
.tooltipIcon{
    padding-left:3px;
    position:relative;
}
.tooltipIcon img{
    cursor:pointer;
}
.tooltipBox
{
    padding: 5px;
    background-color: #ffffaa;
    border: 3px ridge #696969;
    width: 500px;
    position: absolute;
    left: -200px;
    z-index: 99;
    font-size: 11px;
    color: #000;
}
.tooltipBox a{
    font-size:11px;
}
.tooltipSmallText 
{
    padding-top:5px;
    font-size:10px;
}
.tooltipSmallText a 
{
    font-size:10px;
}
.tooltipClose{
    float:right;
    margin-left:3px;
}
.hideSection{
    padding-bottom:5px;
    cursor:pointer;
}
.chartContainer{
    width:100%;
    height:320px;
    text-align:center;
}
.chartContainerTrends{
    width:100%;
    height:440px;
    text-align:center;
}
.floating_link {
     position: fixed;
     left: 0;
     top: 45%;
     display: block;
     overflow: hidden;
     border:0;
     text-align:right;
}
.evenDiv {
    float:right;
    padding-right:25px
}
.clear
{
    clear:both;
}
.smallText
{
    font-size:10px;
}
